:root {
    --background: #ffffff;
    --text-color: #212529;
    --highlight-color: #f9d999;
    --card-background: #ffffff;
    --card-text-color: #212529;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --box-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.2);
   
  }
  
  [data-theme='dark'] {
    --background: #000000;
    --text-color: #e5e5e5;
    --highlight-color: #FFB84D;
    --card-background: #333333;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    --box-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.6);
  }
  
  body {
    color: var(--text-color);
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .unique-app-header {
    display: block;
    padding: 30px;
  }
  
  .unique-app-title {
    display: inline-block;
    width: 100%;
    margin: 80px 0 0 0;
    float: left;
    position: relative;
    color: var(--text-color);
  }
  
  .unique-app-title h1 {
    font-size: 52px;
    margin: 0;
    color: var(--text-color);
  }
  
  .unique-app-title p {
    font-weight: 200;
    opacity: 0.5;
    color: var(--text-color);
  }
  
  .unique-app-title-content {
    text-align: center;
    margin: 2rem 0;
  }
  
  .course-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
  }
  