@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

 
:root {
  --background: #ffffff;
  --text-color: #212529;
  --border-color: #dddddd;
  --hover-bg: #f7f7f7;
  --hover-border-left: #0056b3;
  --hover-icon-color: #0056b3;
  --completed-color: green;
}

[data-theme='dark'] {
  --background: #4c4d4e;
  --text-color: #ffffff;
  --border-color: #555555;
  --hover-bg: #404a57;
  --hover-border-left: #1e90ff;
  --hover-icon-color: #1e90ff;
  --completed-color: lightgreen;
}




h2, h3 {
    color: var(--text-color);
  }
  
  p, ul, ol {
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  