/* QuestionAnswer1Component.css */

body {
  font-family: Arial, sans-serif;
}

.question-answer-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;

  margin-bottom: 20px;
}

.input-fields ul {
  list-style-type: none;
  padding: 0;
}

.input-fields li {
  margin-bottom: 10px;
}

.option-label {
  margin-left: 8px;
  font-size: 16px;
  color: #333;
}

input[type="radio"] {
  margin-right: 10px;
}

.next-button {
  display: inline-block;
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  font-size: 16px;
  color: #ccc;
}

.next-button:after, 
.next-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 2px solid #000;
  transition: transform 0.2s;
}

.next-button:after {
  transform: translate(3px, 3px);
}

.next-button:before {
  transform: translate(-3px, -3px);
}

.next-button:hover:after, 
.next-button:hover:before {
  transform: translate(0);
}

.next-button:disabled {
  color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

.feedback-correct {
  color: green;
  margin-top: 20px;
}

.feedback-incorrect {
  color: red;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .question-answer-container {
    padding: 15px;
  }

  h1 {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }

  .next-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
